@import "color", "mixin";

a.common__button {
  display: block;
  position: relative;
  width: 55vw;
  height: 8vh;
  line-height: 7vh;
  background-color: $white;
  border: 3px solid $black;
  margin: 5vh auto 0;
  text-align: center;
  @include font_vw(14);
  @include pc {
    width: 280px;
    height: 70px;
    line-height: 64px;
    font-size: 20px;
  }
  @include lg {
    width: 245px;
    height: 70px;
    line-height: 64px;
    font-size: 20px;
  }
  @include md {
    width: 40vw;
    font-size: 18px;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2vh;
    left: -3vw;
    z-index: -1;
    background:repeating-linear-gradient(-30deg, $pink 0, $pink 5px, $white 5px, $white 10px);
    transition: all ease-out .3s;
    @include pc {
      left: -1.2vw;
    }
    @include lg {
      left: -2vw;
    }
    @include md {
      left: -2.3vw;
    }
  }

  &:hover::before {
    top: 0;
    left: 0;
  }
}