//common
$white: #FFFFFF;
$black: #2D3133;
$gray: #FAFAFA;

//primary
$pink: #F28888;

//font
$black__opacity: rgba(45, 49, 51, 0.3);

//border
$border: #707070;

//background line to works section
$bgLine: rgba(191, 191, 191, 0.3);