@import "typography", "color", "mixin";

.contact {
  margin: 10vh auto;
  text-align: center;

  &__info{
    width: 70vw;
    padding: 0 5vw;
    margin: 7% auto 0;
    @include pc {
      margin: 3% auto 0;
    }

    p {
      display: inline-block;
      text-align: left;
      font-weight: $font-weight-light;
      line-height: 1.7;
      @include font_vw(14);
      @include pc {
        font-size: 18px;
        line-height: 2;
      }
      @include lg {
        font-size: 18px;
        line-height: 2;
      }
      @include md {
        font-size: 18px;
        line-height: 2;
      }

      span {
        letter-spacing: 1px;
      }
    }
  }
}