@import "color", "mixin", "typography";

footer {
  width: 100vw;
  height: 200px;
  background-color: $black;
  padding: 20% 0;
  text-align: center;
  @include pc {
    height: 250px;
    padding: 130px 0 180px;
  }
  @include lg {
    padding: 10% 0 15%;
  }
  @include md {
    padding: 13% 0;
  }

  .footer__flex {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 12vw;
      height: 3vh;
      stroke-width: 0;
      fill: $white;
      transition: opacity .2s ease-out;
      @include pc {
        width: 70px;
        height: 28px;
      }
      @include lg {
        width: 58px;
        height: 24px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  p {
    color: $white;
    @include font_vw(9);
    font-weight: $font-weight-light;
    margin-top: 8%;
    @include pc {
      font-size: 13px;
      margin-top: 3%;
    }
    @include lg {
      font-size: 13px;
      margin-top: 3%;
    }
    @include md {
      font-size: 12px;
    }
  }
}