@import "color", "mixin", "typography";

footer {
  width: 100vw;
  height: 100px;
  background-color: $black;
  padding-top: 8%;
  text-align: center;
  @include pc {
    height: 150px;
    padding: 50px 0;
  }
  @include lg {
    height: 150px;
    padding: 50px 0;
  }
  @include md {
    height: 150px;
  }

  .footer__flex {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 8vw;
      height: 2.5vh;
      stroke-width: 0;
      fill: $white;
      transition: opacity .2s ease-out;
      @include pc {
        width: 50px;
        height: 20px;
      }
      @include lg {
        width: 50px;
        height: 20px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  p {
    color: $white;
    @include font_vw(9);
    font-weight: $font-weight-light;
    margin-top: 5%;
    @include pc {
      font-size: 13px;
      margin-top: 3%;
    }
    @include lg {
      font-size: 13px;
      margin-top: 3%;
    }
    @include md {
      font-size: 12px;
    }
  }
}