@import "color", "typography", "mixin";

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $white;
  width: 100%;
}


section {
  margin: 5% 0;

  & > .section__title {
    text-align: center;
  }

  & > .section__title.work__h1 {
    text-align: left;
    margin: 3vh 0;
  }
}

.scroll__smooth {
  scroll-behavior: smooth;
}

#js-topButton {
  display: none;
  position: fixed;
  bottom: 250px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid $white;
  border-radius: 50px;
  background-color: $black__opacity;
  z-index: 10;
  @include lg {
    bottom: 200px;
  }

  a {
    display: block;
    width: 48px;
    height: 48px;
    color: $white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
  }

  &.is__show {
    display: block;
    animation: opacity .2s ease-in forwards;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
}

//common fonts style
h1.section__title {
  @include font_vw(47);
  color: $black__opacity;
  font-weight: $font-weight-bold;
  font-style: italic;
  @include pc {
    font-size: 70px;
  }
  @include lg {
    font-size: 70px;
  }
  @include md {
    font-size: 60px;
  }
}
h3 {
  @include font_vw(25);
  font-family: $font-empha;
  @include pc {
    font-size: 55px;
  }
  @include lg {
    font-size: 55px;
  }
  @include md {
    font-size: 45px;
  }
}
h4 {
  @include font_vw(14);
  @include pc {
    font-size: 19px;
  }
  @include lg {
    font-size: 19px;
  }
  @include md {
    font-size: 17px;
  }
}
p {
  @include font_vw(12);
  @include pc {
    font-size: 18px;
  }
  @include lg {
    font-size: 18px;
  }
  @include md {
    font-size: 15px;
  }
  span {
    color: $pink;
    font-weight: $font-weight-regular;
  }
}
a {
  text-decoration: none;
  color: $black;
}

//common styles
.container {
  width: 80vw;
  margin: 0 auto;
}