@import "color", "mixin";

//depend on the browser
@include pcSize {
  .header__mb {
    display: none;
  }
}
@include middleSize {
  .header__mb {
    display: none;
  }
}

.header__mb {
  width: 100vw;
  height: 65px;
  background-color: $black;
  color: $white;
  padding-top: 5%;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;

    a {
      color: $white;

      p {
        @include font_vw(14);
      }
    }
  }
}