@import "color", "typography", "mixin";

//browser for web and tablet
@include pc {
  .global__menu {
    display: none;
  }
}
@include lg {
  .global__menu {
    display: none;
  }
}

//browser for mobile
@include md {
  .header__flex--right {
    display: none;
  }
}
@include sm {
  .header__flex--right {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 65px;
  line-height: 65px;
  background-color: $black;
  color: $white;
  @include md {
    height: 75px;
    line-height: 75px;
  }

  a {
    color: $white;
    transition: color .2s ease-out;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw;
  }

  //global menu only for mobile
  .global__menu {
    a {
      color: $white;
      @include font_vw(14);
    }
    .click__open {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $white;
      text-align: center;
      padding: 20vw;
      animation: slideIn .6s ease-in forwards;

      a {
        color: $black;
        @include font_vw(18);
        font-weight: $font-weight-light;
      }
      .close__button {
        color: $black;
        @include font_vw(30);
        font-weight: normal;
        position: absolute;
        top: 5vh;
        right: 10vw;
      }

      li {
        margin-bottom: 5vh;
      }

      &.active {
        display: block;
      }
      &.remove {
        display: block;
        animation: slideOut .6s ease-in forwards;
      }
    }
    @keyframes slideIn {
      0% {
        transform: translateX(100vw);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes slideOut {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100vw);
      }
    }

    .sns__flex {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 12vw;
        height: 6vw;
        stroke-width: 0;
        fill: $black;
      }
    }
  }
}

@include pc {
  .header {
    height: 100px;
    line-height: 100px;

    //only for pc and tablet
    &__flex--right {
      width: 20vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 8vw;

      li {
        font-size: 18px;
        padding: 0 2vw;
      }
      a:hover {
        color: $pink;
      }
    }
  }
}

@include lg {
  .header {
    height: 100px;
    line-height: 100px;

    //only for pc and tablet
    &__flex--right {
      width: 20vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 15vw;

      li {
        font-size: 18px;
        margin: 0 2vw;
      }
      a:hover {
        color: $pink;
      }
    }
  }
}