@import 'color', 'typography', 'mixin';

//only to hero section
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 450px;
  margin: 0 auto;
  background-color: $black;
  color: $white;
  text-align: center;

  &__title {
    padding-top: 35vh;
    margin-bottom: 5vh;
    text-align: left;
    @include pc {
      padding-top: 35vh;
      padding-right: 5vw;
    }

    $h1Size: 80px;
    h1 {
      font-family: $font-empha;
      padding-bottom: 2vh;
      @include font_vw(45);
      @include pc {
        font-size: $h1Size;
      }
      @include lg {
        font-size: calc(#{$h1Size - 5px});
      }
      @include md {
        font-size: calc(#{$h1Size - 15px});
      }
      span {
        color: $pink;
      }
      span.small {
        color: $white;
        font-size: calc(#{$h1Size - 40px});
      }
      -webkit-animation: slideUp 1s ease-in;
      -o-animation: slideUp 1s ease-in;
      animation: slideUp 1s ease-in;
    }

    @keyframes slideUp {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    h2 {
      @include font_vw(20);
      font-family: $font-empha;
      letter-spacing: 2.5px;
      line-height: 1.5;
      opacity: 0;
      @include pc {
        font-size: 50px;
      }
      @include lg {
        font-size: 45px;
      }
      @include md {
        font-size: 35px;
      }
      &.slideUp__first {
        -webkit-animation: slideUp 1s 1s ease-in forwards;
        -o-animation: slideUp 1s 1s ease-in forwards;
        animation: slideUp 1s 1s ease-in forwards;
      }
      &.slideUp__second {
        -webkit-animation: slideUp 1s 2s ease-in forwards;
        -o-animation: slideUp 1s 2s ease-in forwards;
        animation: slideUp 1s 2s ease-in forwards;
      }
    }
  }



  p.scroll__guide {
    @include font_vw(10);
    font-weight: $font-weight-light;
    position: absolute;
    bottom: 0;
    left: 10vw;
    margin: 0 auto 5vh;
    opacity: 0;
    animation: show .5s 2.5s forwards;
    @include pc {
      font-size: 14px;
    }
    @include lg {
      font-size: 14px;
    }
    @include md {
      font-size: 13px;
    }
    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &::before {
      display: inline-block;
      content: '↓';
      color: $white;
      font-size: 16px;
      padding-right: 2vw;
      opacity: 0;
      animation: arrow-down 1.3s 3s infinite ease-out;
    }

    @keyframes arrow-down {
      0% {
        transform: translateY(-20px);
        opacity: 0;
      }
      50% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(20px);
        opacity: 0;
      }
    }
  }
}