@import 'color', 'mixin';

//only to hero section
.hero {
  width: 100vw;
  height: 91vh;
  margin: 0 auto 50%;
  background-color: $black;
  color: $white;
  text-align: center;

  &__title {
    padding-top: 15vh;
  }
  &__img {
    position: absolute;
    top: 85vh;
    left: 20vw;
    width: 217px;
    height: 217px;
    border-radius: 50%;
    background-color: $white;
    z-index: 2;
  }
}

//only to about section
.about {
  text-align: center;
}

//some common style to hero and about
.about__wrap {
  display: flex;
  justify-content: space-between;

  &--item {
    width: 50%;

    & > p {
      text-align: left;
    }

    &:last-child {
      margin-top: 10vh;
    }
  }
}

//only to about__wrap top
.about__wrap.top {
  margin-top: 6vh;

  .about__wrap--item {
    h2 {
      margin-bottom: 6%;
    }

    &:first-child::after {
      @include line(-20deg, 20vw, 5vh, $white);
    }
    &:last-child::after {
      @include line(20deg, 10vw, -2vh, $white);
    }
  }
}

//only to about__wrap bottom
.about__wrap.bottom {
  margin-top: -13vh;

  .about__wrap--item {
    &:first-child::before {
      @include line(10deg, 23vw, -3vh, $black);
      margin-top: -15vh;
    }
    &:last-child::before {
      @include line(-10deg, 15vw, 1vh, $black);
      margin-top: -10vh;
    }
  }
}