@import "color";

//break point
@mixin pc {
  @media (min-width: (1000px)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 600px) and (max-width: 999px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 440px) and (max-width: 599px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 439px) {
    @content;
  }
}

//font calc
@function get_vw($size, $viewport: 320) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
@mixin font_vw($font-size: 10) {
  font-size: $font-size * 1px;
  font-size: get_vw($font-size);
}

//background line to works section
@mixin bgLine($left) {
  position: absolute;
  top: 0;
  left: $left;
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: $bgLine;
}

//side line to values title h1 {
@mixin sideLine {
    display: block;
    content: "";
    border: 3px solid $border;
    width: 15%;
    position: absolute;
    top: 4vh;
    z-index: 3;
}

//color box to work page color section
@mixin colorBox($color) {
  width: 20vw;
  height: 7vh;
  border: 3px solid $color;
  background-color: $color;
  color: $white;
  line-height: 6vh;
  margin-right: 1.5vw;
  padding-left: 1.2vw;
  @include font_vw(12);
  @include pc {
    font-size: 18px;
    width: 100px;
    height: 68px;
    line-height: 68px;
    padding-left: 9px;
    margin-bottom: 5px;
  }
  @include lg {
    font-size: 18px;
    width: 100px;
    height: 68px;
    line-height: 68px;
    padding-left: 9px;
    margin-bottom: 5px;
  }
  @include md {
    font-size: 18px;
    width: 100px;
    height: 68px;
    line-height: 68px;
    padding-left: 9px;
    margin-bottom: 5px;
  }
}

//flex to to work page color section
@mixin flexColorBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
}