//break point
@mixin pcSize {
  @media (min-width: (1000px)) {
    @content;
  }
}

@mixin middleSize {
  @media (min-width: 640px) and (max-width: 999px) {
    @content;
  }
}

//font calc
@function get_vw($size, $viewport: 320) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin font_vw($font-size: 10) {
  font-size: $font-size * 1px;
  font-size: get_vw($font-size);
}