@import "color";

//break point
@mixin pcSize {
  @media (min-width: (1000px)) {
    @content;
  }
}
@mixin middleSize {
  @media (min-width: 640px) and (max-width: 999px) {
    @content;
  }
}
@mixin mobileSize {
  @media (max-width: 639px) {
    @content;
  }
}

//font calc
@function get_vw($size, $viewport: 320) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
@mixin font_vw($font-size: 10) {
  font-size: $font-size * 1px;
  font-size: get_vw($font-size);
}

//line to about detail from profile img
@mixin line($rotate, $x, $y, $color) {
  display: block;
  content: '';
  width: 2px;
  height: 300px;
  border-radius: 30px;
  transform: rotate($rotate) translateX($x) translateY($y);
  background-color: $color;
}

//background line to works section
@mixin bgLine($left) {
  position: absolute;
  top: 0;
  left: $left;
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: $bgLine;
}

//side line to values title h1 {
@mixin sideLine($top) {
    display: block;
    content: "";
    border: 3px solid $border;
    width: 15%;
    position: absolute;
    top: $top;
    z-index: 3;
}