@import "color";

.values {
  position: relative;
  width: 80vw;
  height: 60vh;
  border: 6px solid $border;
  margin: 10vh auto;
  padding: 15% 5%;

  h1 {
    position: absolute;
    top: -5vh;
    left: 14vw;
    background-color: $white;
    padding: 0 5%;
    z-index: 2;
  }

  &__item {
    &--flex {
      display: flex;
      justify-content: center;
      align-items:flex-start;
      margin-bottom: 5vh;

      &-icon {
        stroke-width: 0;
        fill: $black;
        padding-right: 20px;
      }

      &:last-child {
        margin-bottom: 0;

        .values__item--flex-icon {
          padding-right: 13px;
        }
      }
    }
  }
}