@import "typography", "color", "mixin";

.works {
  position: relative;
  width: 100vw;
  background-color: $gray;
  padding: 20% 0 10%;
  text-align: center;
  @include pc {
    padding: 15% 0 10%;
  }
  @include lg {
    padding: 10% 0;
  }
  h1 {
    margin-bottom: 5vh;
  }

  &::before {
    @include bgLine(33vw);
  }
  &::after {
    @include bgLine(66vw);
  }
}

.work {
  width: 80vw;
  position: relative;
  margin: 15vh auto;
  z-index: 2;
  @include lg {
    width: 430px;
  }

  img {
    width: 100%;
    filter: drop-shadow(5px 5px 7px $black__opacity);
    &:hover {
      opacity: .8;
    }
  }

  &:last-child img {
    width: 40vw;
    @include lg {
      width: 50%;
    }
  }

  p {
    text-align: left;
    @include font_vw(12);
    @include pc {
      font-size: 15px;
    }
    @include lg {
      font-size: 18px;
    }
    @include md {
      font-size: 16px;
    }
    font-weight: $font-weight-light;
    margin-top: 1vh;

    &.text__center {
      text-align: center;
    }

    span {
      color: $black;
      font-weight: $font-weight-regular;
    }
  }

}

@include pc {
  .works__flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 5%;
  }

  .work {
    width: 33vw;
    margin: 5%;

    img {
      width: 100%;
    }

    &:last-child img {
      width: 45%;
    }
  }
}