@import "typography", "mixin";

.work__color {
  text-align: left;
  margin-top: 10vh;
  @include pc {
    padding: 0 5vw;
  }

  &--item {
    margin-bottom: 5vh;

    p {
      font-weight: $font-weight-light;
      line-height: 2;
      margin-top: 1vh;
      @include pc {
        width: 35vw;
        line-height: 1.8;
        margin-top: 1.5%;
      }
      @include lg {
        width: 70vw;
        line-height: 1.3;
        margin-top: 1.5%;
      }
    }

    //color only to kulkuri
    &--flex-top.kulkuri-color {
      @include flexColorBox;
      .color--box {
        &:nth-child(1) {
          @include colorBox(#C6FFDD);
        }
        &:nth-child(2) {
          @include colorBox(#FBD786);
        }
        &:nth-child(3) {
          @include colorBox(#F7797D);
        }
      }
    }

    &--flex-middle.kulkuri-color {
      @include flexColorBox;
      .name-set {
        width: 20%;
        margin: 1% 10% 0 0;
        @include pc {
          width: 25%;
          margin-right: 0;
        }
        @include lg {
          margin-right: 2%;
        }
        p {
          margin-top: 0;
        }

        &:nth-child(1) .color--box {
          @include colorBox(#46509F);
        }
        &:nth-child(2) .color--box {
          @include colorBox(#E59948);
        }
        &:nth-child(3) .color--box {
          @include colorBox(#B77388);
        }
        &:nth-child(4) .color--box {
          @include colorBox(#B0272C);
        }
        &:nth-child(5) .color--box {
          @include colorBox(#938BFF);
        }
        &:nth-child(6) .color--box {
          @include colorBox(#3B91A6);
        }
        &:nth-child(7) .color--box {
          @include colorBox(#FECC35);
        }
        &:nth-child(8) .color--box {
          @include colorBox(#9FA9A2);
        }

        p {
          padding-bottom: 2px;
        }
      }
    }

    //color only to mogu
    &--flex-top.mogu-color {
      @include flexColorBox;
      .color--box {
        @include colorBox(#B4061F);
      }
    }

    //color only to wordsworth
    &.wordsworth {
      span.gold{
        color: #BFAE8E;
        font-weight: $font-weight-bold;
      }
      span.purple {
        color: #552F65;
        font-weight: $font-weight-bold;
      }
       .work__color--item--flex-top {
        @include flexColorBox;
        .color--box {
          &:nth-child(1) {
            @include colorBox(#BFAE8E);
          }
          &:nth-child(2) {
            @include colorBox(#552F65);
          }
          &:nth-child(3) {
            @include colorBox(#F1F1F1);
          }
        }

        img {
          width: 20vw;
          margin-right: 3vw;
          @include pc {
            width: 130px;
          }
          @include lg {
            width: 100px;
          }
        }
        img:last-child {
          width: 60vw;
          @include pc {
            width: 300px;
          }
          @include lg {
            width: 300px;
          }
        }
      }
    }
  }

  //only to pc
  @include pc {
    &.sticky {
      position: sticky;
      top: 100px;
      width: 50vw;
      height: 100%;
      min-height: 700px;
      margin-bottom: 100px;
    }
  }
}


.work__image--color {
  width: 100vw;
  background-color: $gray;
  text-align: center;
  padding: 2vh 0;

  .image__wrapper {
    width: 80vw;
    margin: 0 auto;
    @include pc {
      width: 35vw;
    }
    img {
      width: 100%;
      margin: 8vh auto 0;
      @include pc {
        margin: 10vh auto 0;
      }
    }
    p {
      text-align: left;
      margin-top: 1vh;
      font-weight: $font-weight-light;
    }

    &.mogu {
      img {
        width: 70vw;
        @include pc {
          width: 90%;
        }
        @include lg {
          width: 60%;
        }
        @include md {
          width: 70%;
        }
      }
      p {
        padding-left: 5vw;
        @include pc {
          padding-left: 2vw;
        }
        @include lg {
          padding-left: 16vw;
        }
        @include md {
          padding-left: 12vw;
        }
      }
    }

    &.wordsworth {
      img {
        width: 70vw;
        @include pc {
          width: 80%;
        }
        @include lg {
          width: 60%;
        }
        @include md {
          width: 70%;
        }
      }
      img.big {
        width: 80vw;
        @include pc {
          width: 100%;
        }
        @include lg {
          width: 70%;
        }
        @include md {
          width: 80%;
        }
      }
      p {
        @include lg {
          padding-left: 12vw;
        }
        @include md {
          padding-left: 8vw;
        }
      }
      p.space__left {
        padding-left: 5vw;
        @include pc {
          padding-left: 3.5vw;
        }
        @include lg {
          padding-left: 16vw;
        }
        @include md {
          padding-left: 12vw;
        }
      }
    }
  }

  &.kulkuri {
    img.no__flex {
      width: 80vw;
      @include pc {
        width: 60%;
      }
      @include lg {
        width: 60vw;
      }
      @include md {
        width: 60vw;
      }
    }
  }

  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 5vh auto;
    @include pc {
      width: 50vw;
      margin: 15vh auto;
    }
    @include lg {
      margin: 10vh auto;
    }

    img {
      width: 30%;
      margin: 0 5%;
      @include pc {
        width: 25%;
      }
    }
  }

  //only to pc
  @include pc {
    &.scroll__item {
      width: 100%;
      margin-bottom: 100px;
    }
  }
}