@import "typography", "color", "mixin";

.works {
  position: relative;
  width: 100vw;
  background-color: $gray;
  padding: 20% 0 10%;
  text-align: center;
  @include pc {
    padding: 5% 0;
  }
  @include lg {
    padding: 10% 0;
  }
  h1 {
    margin-bottom: 5vh;
  }

  &::before {
    @include bgLine(33vw);
  }
  &::after {
    @include bgLine(66vw);
  }
}

.works__items {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
  z-index: 2;
  &-item {
    margin: 5vh 0;
    h2 {
      font-size: 60px;
      font-weight: $font-weight-bold;
      padding-bottom: 1vh;
    }
    a:hover {
      color: $pink;
    }

    &:hover .hover__appear {
      display: block;
    }

    @keyframes slideIn {
      0% {
        transform: translateX(500px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  .hover__appear {
    display: none;
    width: 30vw;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: -1;
    animation: slideIn 1s ease-out forwards;
    img {
      width: 100%;
      filter: drop-shadow(5px 5px 7px $black__opacity);
    }
  }
}