@import 'typography', 'mixin';
.work__font {

  &--item {
    margin-top: 5vh;

    &-each {
      display: inline-block;

      img {
        width: 38vw;
        @include pcSize {
          width: 160px;
        }
      }

      p {
        font-weight: $font-weight-light;
        padding-left: 2vw;
        margin-top: -2vh;
        @include pcSize {
          padding-left: 12px;
        }
      }
    }

    &:last-child {

      h4 {
        margin-bottom: 1.5vh;
      }
      p.description__p {
        padding-left: 0;
      }
      p {
        font-weight: $font-weight-light;
        padding-left: 8.5vw;
        @include pcSize {
          padding-left: 40px;
        }
      }
      img.photo-frame {
        width: 30vw;
        margin: 4vh 2vw 0;
        transform: rotate(-20deg);
        @include pcSize {
          width: 184px;
        }
      }
    }
  }

  //only to pc
  @include pcSize {
    &.scroll__item {
      width: 100%;
    }
  }
}