@import 'typography', 'mixin';

.work__font {

  p {
    font-weight: $font-weight-light;
    @include pc {
      width: 40vw;
      line-height: 1.3;
      margin-top: 1.5%;
    }
    @include lg {
      width: 70vw;
      line-height: 1.3;
      margin-top: 1.5%;
    }
  }

  &--item {
    margin-top: 5vh;

    &-each {
      display: inline-block;
      margin-right: 2vw;

      img.font-kulkuri {
        width: 38vw;
        @include pc {
          width: 160px;
        }
        @include lg {
          width: 180px;
        }
      }

      img.font-mogu {
        width: 45vw;
        @include pc {
          width: 250px;
        }
        @include lg {
          width: 270px;
        }
      }

      p {
        font-weight: $font-weight-light;
        padding-left: 2vw;
        margin-top: -2vh;
        @include pc {
          padding-left: 12px;
        }
        @include lg {
          padding-left: 10px;
        }
      }
    }

    &.kulkuri__last {

      h4 {
        margin-bottom: 1.5vh;
      }
      p.description__p {
        padding-left: 0;
      }
      p {
        font-weight: $font-weight-light;
        padding-left: 44vw;
        @include pc {
          padding-left: 270px;
        }
        @include lg {
          padding-left: 280px;
        }
      }
      img.photo-frame {
        width: 30vw;
        margin: 4vh 2vw 0;
        filter: drop-shadow(-10px 10px 7px #9e9e9e);
        transform: rotate(-20deg);
        @include pc {
          width: 184px;
        }
        @include lg {
          width: 200px;
          margin-top: 55px;
        }
      }
    }

    &.wordworth__last {
      img {
        margin-left: -8px;
      }
    }
  }

  //only to pc
  @include pc {
    &.scroll__item {
      width: 100%;
      margin-left: 5vw;
    }
  }
}