@import "color", "mixin";

.about {
  margin: 5vh auto 2vh;
  @include pc {
    margin: 5vh auto;
  }

  @include pc {
    &__flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .intro__wrap {
    position: relative;
    width: 100vw;
    background-color: $black;
    text-align: center;
    padding: 10vh;
    margin-top: 5vh;
    @include pc {
      width: 40vw;
    }
    @include lg {
      width: 80vw;
    }

    &--txt {
      color: $white;
      text-align: left;
      line-height: 1.8;
      letter-spacing: 1.3px;
    }

    img {
      position: absolute;
      top: -18vh;
      left: 0;
      right: 0;
      margin: auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: $white;
      @include pc {
        width: 200px;
        height: 200px;
      }
    }
  }

  @include md {
    &.container {
      width: 100vw;
    }
    h1 {
      margin-right: 10vw;
    }
  }
  @include sm {
    &.container {
      width: 100vw;
    }
    h1 {
      margin-right: 10vw;
    }
  }
}